

#background{
    background: aqua;
    height: 200px;
}

#titulo{
    color: rebeccapurple;
    font-size: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; <!-- Comentario adicionado no GitHub -->
}

#titulo{
    color: goldenrod;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 576px){
    #cabecalhoprincipal{
       height: 100px;
    }

}
